body{

font-family:Arial;
background:#f5f5f5;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;
padding:40px;
border-radius:10px;
width:400px;

}

h1{

text-align:center;

}

.skill{

margin:20px 0;

}

.progress-bar{

width:100%;
background:#ddd;
height:20px;
border-radius:10px;

}

.progress{

height:20px;
border-radius:10px;
color:white;
text-align:right;
padding-right:5px;
line-height:20px;
font-size:12px;

}

.python{

width:80%;
background:#ff7a00;

}

.html{

width:70%;
background:#2196f3;

}

.css{

width:60%;
background:#4caf50;

}

.java{

width:50%;
background:#9c27b0;

}